/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

@import url(../css/imports/links.css);

@import url(../css/imports/search-bar.css);

body {
  background-image: linear-gradient(to bottom left, #250C3E, #562588);
  font-family: "kanit", "arial";
  color: #250B3E;
}

.background-transparent {
  background-color: rgba(248, 236, 255, 0.5);
  border: 1px solid #000;
}

header,
footer {
  background-color: #6E5A9A;
}


header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  max-height: 10vh;
  padding: 15px;
}

nav {
  display: none;
  position: fixed;
  top: 100px;
  background: #F0E4FF;
  border: 1px solid #000;
  border-bottom-left-radius: 25px;
  z-index: 1000;
  right: 0px;
  padding-bottom: 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.bars {
  margin: 40px 40px 0px 0px;
  font-size: 2em;
}

nav li {
  display: block;
  padding: 30px;
  border-bottom: 2px solid #250C3E;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0%;

}

footer {
  text-align: center;
  font-weight: 300;
}

.footer-icons {
  font-size: 1.2em;
  margin: 10px 5px;
}

.footer-border {
  border-bottom: 2px solid #250B3E;
  letter-spacing: 15px;
  width: 75%;
  margin: auto;
}

.footer-container {
  grid-column: 2;
  grid-row: 1;
}

footer a {
  display: block;
  grid-column: 3;
}

.footer-logo {
  max-height: 10vh;
}